@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-variation-settings: "ital" 0 "ital" 10;
}
@font-face {
  font-family: 'Hubot Sans';
  src:
    url('/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
