@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mona Sans';
  src:
    url('/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-variation-settings: "ital" 0 "ital" 10;
}

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@layer components {
  .main-layout {
    @apply grid h-screen gap-4 bg-slate-50 pl-2 pt-2 print:bg-transparent;

    grid-template-columns: minmax(0, 1fr) max-content;
    grid-template-rows: max-content minmax(0, 1fr);

    @media (min-width: 768px) {
      grid-template-columns: max-content minmax(0, 1fr) max-content;
      grid-template-rows: repeat(1, minmax(0, 1fr));
    }
  }
}
